@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, you have @Model.Todos.Count() TODO items</h1>
</div>
<div>
    <p>Host Name: @Model.HostName</p>
    <p>IP Address: @Model.IpAddress</p>
</div>
